.toggle-container {
  color: var(--text);
  margin-inline: auto;
  max-width: 200px;
  flex-basis: 20%;
  margin-bottom: 1rem;
}

.toggle {
  visibility: hidden;
}

.toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary);
}

.toggle + label::before {
  content: "";
  height: 0.9rem;
  width: 2rem;
  background-color: var(--toggle-bg);
  border-radius: 10px;
  margin-right: 0.5rem;
}

.toggle + label::after {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 10px;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.25rem;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label::after {
  transform: translateX(100%);
}

@media (max-width: 880px) {
  .toggle-container {
    margin-bottom: 0;
  }
}