.app {
  background-color: var(--background);
  transition: background-color 0.25s ease-in-out;
}

.heading {
  color: var(--text);
  margin: 2rem 0;
  text-align: center;
}

h2 {
  font-family: "IBM Plex Serif", serif;
}

p {
  margin: 2rem 0;
  color: var(--text);
  font-weight: 400;
  display: inline-block;
}

span {
  text-transform: capitalize;
  font-weight: bold;
}

.stories-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.card {
  width: 40vw;
  padding: 2rem;
  background-color: var(--background);
  box-shadow: var(--secondary) 0px 7px 35px 0px;
  border-radius: 10px;
  border: var(--accent) 1px solid;
  color: var(--primary);
}

.card-button {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-button a {
  color: var(--accent);
  font-weight: 400;
}

.card-button a:last-child {
  color: var(--accent);
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input {
  padding: 1rem;
  min-width: 40rem;
  text-transform: capitalize;
  border: none;
  border-bottom: 0.2rem solid var(--text);
  outline: none;
}

.pagination-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.8rem 2.2rem;
  border: none;
  background-color: var(--primary);
  color: var(--text);
  margin: 3rem;
  cursor: pointer;
  display: inline-block;
}

/* responsive layout  */

@media (max-width: 998px) {
  .card {
    min-width: 45rem;
    padding: 2.5rem;
  }
}

@media (max-width: 768px) {
  .card {
    min-width: 35rem;
    padding: 2rem;
  }
}
